.pagination {

    .page-link {
        color: black;
    }

    .page-item {
        &.active {
            .page-link {
                background-color: #FF7C57 !important;
                border: rgb(204, 109, 7) !important;
            }
        }
    }
}