@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #2D2D2D;
    font-size: 16px;
}

.bg-Navbar {
    background-color: #f7f7f7;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 5px;

    &:hover {
        border-color: #e8b988c9 !important;
        box-shadow: 0 0 0 0.1rem #fbd560 !important;
    }

    .form-control {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        font-size: 16px;
        color: #e3ac52;

        &:focus {
            border-color: none !important;
            box-shadow: none !important;
        }

    }

    button {
        border: none;
        border-radius: 0;
        width: 50px;
        height: 50px;
        background: #fbd560;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background: #fbd460e1;
        }

        &:active,
        &:focus {
            background: #fbd460e1;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
            ;
        }
    }
}

::placeholder {
    color: #e8e8e8;
    font-weight: 500;
}

@media (max-width: 767px) {
    .search-bar {
        width: 70%;
    }
}