@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.menus {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 24px;
}

.item-menu {
    display: flex;
    gap: 16px;
    color: var(--dark-grey);
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.item-menu.active span,
.item-menu:hover span {
    color: var(--dark-orange);
    font-weight: 500;
}

.item-menu.active .icon-menu,
.item-menu:hover .icon-menu {
    color: var(--yellow);
}

.item-menu.active::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    border-radius: 4px;
    background-color: var(--yellow);

}