.nav-tabs .nav-link {
    border-radius: 0;
    // color: #000000;
    color: #000000;
}

.nav-tabs .nav-item:not(:nth-last-child(1)) .nav-link {
    border-right: 1px solid white;
}

.nav.nav-tabs .nav-link.active {
    // background-color: var(--dark-blue);
    border: none;
    border-bottom: 5px solid var(--dark-blue);
    // color: #dddddd
    color: var(--dark-blue);

}

.tab-content {
    background-color: #fbf9f9;
}