.nav-tabs .nav-link {
    border-radius: 0;
    color: #000000;
    background-color: #dddddd;
}

.nav-tabs .nav-item:not(:nth-last-child(1)) .nav-link {
    border-right: 1px solid white;
}

.nav.nav-tabs .nav-link.active {
    background-color: green;
    color: #dddddd
}

.tab-content {
    background-color: #f9fafb;
}